$defaultSpacing: 16px;
$fontSize: 16px;
$primaryColor: #00ff00;
$secondaryColor: darken($primaryColor, 10);

@import 'layout/index';
@import 'pages/index';
@import 'components/index';
@import 'antd-overrides';
